/* Seitenstruktur */

h1 {
    text-align: center;
    margin-top: 75px;
}

nav {
    text-align: center;
}

nav a {
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
}

/* Elemente */

body {
    font-family: "Saira", sans-serif;
    color: #DEDEDE;
    background-color: black;
}

a {
    color: #00AEFF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: #DEDEDE;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
}

#th_dex {
    width: 50px;
}

#th_pokemon {
    width: 100px;
}

#th_karten {
    width: 250px;
}

td.dexnr, td.pokemon {
    text-align: center;
}

.kartenAnzahl {
    text-align: center;
    width: 20px;
}

.saveButton {
    font-family: "Saira Condensed", sans-serif;
    color: #DEDEDE;
    background-color: #333333;
    text-align: center;
    vertical-align: baseline;
    width: 80px;
    height: 25px;
}

.checkmark {
    color: green;
    float: inline-end;
    display: none;
}

.saveButton:hover {
    color: #00AEFF;
}

#search {
    width: 200px;
    margin-left: 10px;
    text-align: center;
}

div.search {
    text-align:center;
    padding-bottom: 10px;
}

table { 
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

.versteckt {
    display: none;
}