/* Seitenstruktur */

header {
    margin-top: 75px;
    text-align: center;
}

header img {
    text-align: center;
    max-height: 100px;
}

nav {
    text-align: center;
}

nav a {
    margin-left: 15px;
    margin-right: 15px;
}

footer {
    text-align: center;
}

/* Elemente */

body {
    font-family: "Saira", sans-serif;
    font-size: 16px;
    color: #DEDEDE;
    background-color: black;
}

a {
    color: #00AEFF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: #DEDEDE;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 15px;
}

#th_dex {
    width: 50px;
}

#th_pokemon {
    width: 100px;
}

#th_karten {
    width: 250px;
}

td.dexnr,
td.pokemon {
    text-align: center;
}

.kartenAnzahl {
    text-align: center;
    width: 20px;
}

.saveButton {
    font-family: "Saira Condensed", sans-serif;
    color: #DEDEDE;
    background-color: #333333;
    text-align: center;
    vertical-align: baseline;
    width: 80px;
    height: 25px;
}

.checkmark {
    color: green;
    float: inline-end;
    display: none;
}

.saveButton:hover {
    color: #00AEFF;
}

#search {
    width: 200px;
    margin-left: 10px;
    text-align: center;
}

div.search {
    text-align: center;
    padding-bottom: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: center;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

nav a.active-positive {
    color: green;
}

nav a.active-negative {
    color: red;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    z-index: 1000;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

/* Inhalt des Overlays */
#overlayContent {
    font-family: "Saira", sans-serif;
    color: #DEDEDE;
    background: #333333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px; /* neu */
    margin: 0 auto; /* neu */
}

#overlayContent img {
    border-radius: 8px;
    box-shadow: 0 0 10px #00AEFF;
}  

.overlayMenuBtn {
    font-family: "Saira", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.kartenGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.kartenItem {
    cursor: pointer;
    text-align: center;
    background: #444;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}

.kartenItem img {
    /* Seitenverhältnis 8:11 */
    width: 150px;
    height: 207px;
    object-fit: cover;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #00AEFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button.closeGallery {
    position: absolute;
    top: 110px;
    right: 20px;
    font-size: 24px;
    background: none;
    color: #DEDEDE;
    border: none;
    cursor: pointer;
}

#progressBarContainer {
    width: 100%;
    max-width: 400px;
    height: 20px;
    background-color: #555;
    border-radius: 10px;
    margin: 20px auto 10px;
    overflow: hidden;
  }
  
  #progressBar {
    height: 100%;
    width: 0%;
    background-color: #00AEFF;
    transition: width 0.3s ease;
  }
  
  #progressText {
    text-align: center;
    font-size: 16px;
    margin-top: 0;
  }
  